In [1]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd
from standard_functions import getAPI

Do not ever put API's in your repositories. I have mine in a local file and call it here.

In [49]:
myApi = getAPI()
lol_watcher = LolWatcher(myApi)

region = 'na1'
match_id = 'NA1_4286956599'

In [3]:
def get_puuid(name):
    """
    Input is summoner name. Outputs players puuid.
    """
    return lol_watcher.summoner.by_name(region, name)['puuid']
def get_matchlist(name):
    """
    Input is name. Output is list of matches.
    """
    return lol_watcher.match.matchlist_by_puuid(region, get_puuid(name), count=100, type='ranked')

In [55]:
def get_objectives(match_id):
    obj = lol_watcher.match.by_id(region, match_id)['info']['teams'][0]['objectives']
    new = {}
    for k in obj:
        for key in obj[k]:
            new[k+'_'+key] = obj[k][key]
    return new
def get_win(match_id):
    return {'win' : lol_watcher.match.by_id(region, match_id)['info']['teams'][0]['win']}

In [53]:
lol_watcher.match.by_id(region, match_id)['info']['teams'][0]['win']

False

In [58]:
data = get_objectives('NA1_4270310445')
data.update(get_win('NA1_4270310445'))
pd.DataFrame([data])

,baron_first,baron_kills,champion_first,champion_kills,dragon_first,dragon_kills,inhibitor_first,inhibitor_kills,riftHerald_first,riftHerald_kills,tower_first,tower_kills,win
0,True,1,True,34,True,2,True,2,True,2,True,10,True

In [39]:
summoners = ['Zealfire', 'SmurfHD', 'DumbAmerican', 'About 10 Inches', 'Exprience', 'Leaders1', 
             'Kehlee', 'KybitOW', 'DodoMuncher', 'Mango Bleach']

In [4]:
get_matchlist('Zealfire')

['NA1_4348171334',
 'NA1_4289259129',
 'NA1_4287742329',
 'NA1_4287694201',
 'NA1_4287648113',
 'NA1_4286956599',
 'NA1_4286785334',
 'NA1_4286667294',
 'NA1_4285375587',
 'NA1_4285360882',
 'NA1_4285334783',
 'NA1_4285247595',
 'NA1_4284641450',
 'NA1_4284573748',
 'NA1_4282617016',
 'NA1_4282651208',
 'NA1_4282568419',
 'NA1_4282560428',
 'NA1_4279275380',
 'NA1_4279290874',
 'NA1_4272162489',
 'NA1_4270474097',
 'NA1_4270373912',
 'NA1_4270325535',
 'NA1_4270310445',
 'NA1_4269678873',
 'NA1_4269623819',
 'NA1_4265939472',
 'NA1_4265052963',
 'NA1_4265007120',
 'NA1_4265011466',
 'NA1_4264596019',
 'NA1_4264558755',
 'NA1_4263428731',
 'NA1_4262510186',
 'NA1_4262424973',
 'NA1_4259122335',
 'NA1_4259076750',
 'NA1_4258616238',
 'NA1_4257716745',
 'NA1_4251471488',
 'NA1_4248601449',
 'NA1_4248509505',
 'NA1_4247935338',
 'NA1_4243646495',
 'NA1_4242625676',
 'NA1_4242377491',
 'NA1_4242051531',
 'NA1_4241728549',
 'NA1_4241732889',
 'NA1_4240856758',
 'NA1_4240829863',
 'NA1_4239866975',
 'NA1_4239483955',
 'NA1_4239371148',
 'NA1_4239356146',
 'NA1_4236826656',
 'NA1_4236657270',
 'NA1_4236561460',
 'NA1_4236372924',
 'NA1_4236351019',
 'NA1_4234919674',
 'NA1_4234943834',
 'NA1_4234172320',
 'NA1_4234098265',
 'NA1_4232440783',
 'NA1_4232042964',
 'NA1_4231988565',
 'NA1_4230977447',
 'NA1_4230972293',
 'NA1_4229763958',
 'NA1_4229544248',
 'NA1_4229534279',
 'NA1_4228662513',
 'NA1_4228634418',
 'NA1_4215542159',
 'NA1_4215537713',
 'NA1_4215524056',
 'NA1_4215075407',
 'NA1_4213674593',
 'NA1_4213617974',
 'NA1_4213539679',
 'NA1_4212627702',
 'NA1_4209230371',
 'NA1_4209172399',
 'NA1_4209076101',
 'NA1_4207882893',
 'NA1_4207838311',
 'NA1_4207769192',
 'NA1_4207741472',
 'NA1_4207392070',
 'NA1_4205217788',
 'NA1_4205177137',
 'NA1_4205151290',
 'NA1_4205073122',
 'NA1_4205025589',
 'NA1_4204946319',
 'NA1_4204952025',
 'NA1_4201495248',
 'NA1_4201430413']

In [6]:
pd.DataFrame([lol_watcher.match.by_id(region, 'NA1_4205025589')['info']])

,gameCreation,gameDuration,gameEndTimestamp,gameId,gameMode,gameName,gameStartTimestamp,gameType,gameVersion,mapId,participants,platformId,queueId,teams,tournamentCode
0,1643938709000,1555,1643940333289,4205025589,CLASSIC,teambuilder-match-4205025589,1643938777865,MATCHED_GAME,12.3.421.5967,11,"[{'assists': 3, 'baronKills': 0, 'bountyLevel'...",NA1,420,"[{'bans': [{'championId': 223, 'pickTurn': 1},...",

In [ ]:
pd.DataFrame([lol_watcher.match.by_id(region, 'NA1_NA1_4205025589')['info']['participants'][0]])

In [ ]:
data = lol_watcher.league.entries(region, queue='RANKED_SOLO_5x5', tier='GOLD', division='II', page=500)
len(data)

In [25]:
lol_watcher.match.by_id(region, 'NA1_4205025589')['info'].keys()

dict_keys(['gameCreation', 'gameDuration', 'gameEndTimestamp', 'gameId', 'gameMode', 'gameName', 'gameStartTimestamp', 'gameType', 'gameVersion', 'mapId', 'participants', 'platformId', 'queueId', 'teams', 'tournamentCode'])

In [26]:
lol_watcher.match.by_id(region, 'NA1_4205025589')['info']['teams'][0]

{'bans': [{'championId': 223, 'pickTurn': 1},
  {'championId': 25, 'pickTurn': 2},
  {'championId': 84, 'pickTurn': 3},
  {'championId': 81, 'pickTurn': 4},
  {'championId': 38, 'pickTurn': 5}],
 'objectives': {'baron': {'first': False, 'kills': 0},
  'champion': {'first': False, 'kills': 20},
  'dragon': {'first': False, 'kills': 0},
  'inhibitor': {'first': False, 'kills': 0},
  'riftHerald': {'first': False, 'kills': 0},
  'tower': {'first': False, 'kills': 2}},
 'teamId': 100,
 'win': False}

In [ ]:
lol_watcher.match.by_id(region, 'NA1_4205025589')['info']['teams'][0]['objectives'].keys()

In [ ]:
pd.DataFrame(lol_watcher.match.by_id(region, 'NA1_4205025589')['info']['teams'][0]['objectives'])

In [ ]:
pd.DataFrame(lol_watcher.match.timeline_by_match(region, 'NA1_4205025589')['info']['frames'])

In [ ]:
pd.DataFrame.rename()

In [50]:
obj = lol_watcher.match.by_id(region, match_id)['info']['teams'][0]['objectives']

In [51]:
obj

{'baron': {'first': True, 'kills': 1},
 'champion': {'first': True, 'kills': 41},
 'dragon': {'first': False, 'kills': 0},
 'inhibitor': {'first': False, 'kills': 0},
 'riftHerald': {'first': True, 'kills': 1},
 'tower': {'first': False, 'kills': 5}}